html {
  scroll-behavior: smooth;
}

#landing {
  display: flex;
  background-image: url("header-bg.jpg");
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#navi {
  display: flex;
  justify-content: space-around;
  width: 450px;
  float: right;
  position: fixed;
  top: 10px;
  right: 30px;
}

#startup {
  width: 750px;
  position: fixed;
  top: 10px;
  display: flex;
  color: yellow;
}

.section {
  height: 800px;
  width: 100%;
}

#welcome {
  font-size: 72px;
}

#meet {
  font-size: 52px;
}

#yellow {
  font-size: 26px;
  font-weight: bolder;
  color: white;
  height: 100px;
  width: 300px;
  background-color: yellow;
  border-radius: 10px;
}

#ham {
  display: none;
}

#hamburger {
  display: none;
}

#hamShow {
  color: pink;
}

.card {
  width: 400px;
  height: 600px;
  overflow-wrap: break-word;
  text-align: center;
}

.prettypic {
  margin-top: 30px;
  height: 250px;
  width: 350px;
  border-radius: 3px;
}

#portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 740px) {
  #navi {
    display: none;
  }
  #ham {
    float: right;
    display: block;
    float: right;
    position: fixed;
    top: 10px;
    right: 30px;
  }
  #welcome {
    font-size: 38px;
  }

  #meet {
    font-size: 24px;
  }
  #yellow {
    font-size: 26px;
    font-weight: bolder;
    color: white;
    height: 70px;
    width: 200px;
    background-color: yellow;
    border-radius: 10px;
  }

  #portfolio {
    display: flex;
    flex-direction: column;
  }
}
